<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- <table border="1">
        <tbody>
            <tr>
                <td colspan="5" width="282">
                    <p><strong>SIMPANG</strong> <strong>APILL</strong></p>
                </td>
                <td colspan="3" width="157">
                    <p>Tanggal: 24 Januari 2012</p>
                </td>
                <td colspan="3" width="156">
                    <p>Ditangani oleh : HI, AN</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" width="282">
                    <p>DATA:</p>
                </td>
                <td colspan="6" width="313">
                    <p>Kota: Jakarta</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" width="282">
                    <p>GEOMETRI</p>
                </td>
                <td colspan="6" width="313">
                    <p>Simpang: Jalan Iskandarsyah - Jalan Wijaya</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" width="282">
                    <p>PENGATURAN LALU LINTAS</p>
                </td>
                <td colspan="6" width="313">
                    <p>Ukuran kota: 8,3 juta jiwa</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" width="282">
                    <p>LINGKUNGAN</p>
                </td>
                <td colspan="6" width="313">
                    <p>Perihal: Pengaturan simpang empat fase hijau awal</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" width="282">
                </td>
                <td colspan="6" width="313">
                    <p>Periode: Jam puncak sore hari kerja</p>
                </td>
            </tr>
            <tr>
                <td colspan="11" width="595">
                    <p><strong>Sketsa Fase APILL</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="7" width="117">
                    <p></p>
                </td>
                <td colspan="2" rowspan="7" width="107">
                    <p></p>
                </td>
                <td colspan="2" rowspan="7" width="103">
                    <p></p>
                </td>
                <td colspan="2" rowspan="7" width="112">
                    <p></p>
                </td>
                <td colspan="3" width="156">
                </td>
            </tr>
            <tr>
                <td colspan="3" width="156">
                    <p><strong>Waktu siklus</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="104">
                    <p>s =</p>
                </td>
                <td width="52">
                    <p>detik</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="156">
                </td>
            </tr>
            <tr>
                <td colspan="3" width="156">
                    <p><strong>Waktu hilang hijau total</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="104">
                    <p>W<sub>HH</sub> = SW<sub>AH</sub> =</p>
                </td>
                <td width="52">
                    <p>detik</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="156">
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>W<sub>H</sub>=</p>
                </td>
                <td width="59">
                </td>
                <td width="57">
                    <p>W<sub>H</sub>=</p>
                </td>
                <td width="50">
                </td>
                <td width="59">
                    <p>W<sub>H</sub>=</p>
                </td>
                <td width="45">
                </td>
                <td width="57">
                    <p>W<sub>H</sub>=</p>
                </td>
                <td width="55">
                </td>
                <td colspan="3" rowspan="2" width="156">
                    <p>W<sub>H</sub>= waktu hijau</p>
                    <p>W<sub>AH</sub>= waktu antar hijau</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>W<sub>AH</sub>=</p>
                </td>
                <td width="59">
                </td>
                <td width="57">
                    <p>W<sub>AH</sub>=</p>
                </td>
                <td width="50">
                </td>
                <td width="59">
                    <p>W<sub>AH</sub>=</p>
                </td>
                <td width="45">
                </td>
                <td width="57">
                    <p>W<sub>AH</sub>=</p>
                </td>
                <td width="55">
                </td>
            </tr>
            <tr>
                <td colspan="11" width="595">
                    <p><strong>Sketsa simpang</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="11" width="595">
                    <p><strong>Kondisi Lapangan</strong></p>
                </td>
            </tr>
            <tr>
                <td rowspan="2" width="59">
                    <p><strong>Kode</strong> <strong>pendekat</strong></p>
                    <p></p>
                    <p></p>
                    <p>U, S, T, B</p>
                </td>
                <td rowspan="2" width="59">
                    <p><strong>Tipe</strong> <strong>lingkungan</strong> <strong>jalan</strong></p>
                    <p></p>
                    <p>KIM, KOM, AT</p>
                </td>
                <td rowspan="2" width="57">
                    <p><strong>Kelas</strong> <strong>Hambatan</strong> <strong>samping</strong></p>
                    <p></p>
                    <p>T (tinggi), R (rendah)</p>
                </td>
                <td rowspan="2" width="50">
                    <p><strong>Median</strong></p>
                    <p></p>
                    <p></p>
                    <p>Y (ada) atau</p>
                    <p>T (tidak)</p>
                </td>
                <td rowspan="2" width="59">
                    <p><strong>Kelandaian</strong> <strong>pendekat</strong></p>
                    <p>+ (nanjak) atau - (turun)</p>
                    <p></p>
                    <p>%</p>
                </td>
                <td rowspan="2" width="45">
                    <p><strong>B</strong><strong>KiJT</strong></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>Y (ada) atau</p>
                    <p>T (tidak)</p>
                </td>
                <td rowspan="2" width="57">
                    <p><strong>Jarak ke kendaraan parkir pertama</strong></p>
                    <p>m</p>
                </td>
                <td colspan="4" width="211">
                    <p><strong>Lebar pendekat (m)</strong></p>
                </td>
            </tr>
            <tr>
                <td width="55">
                    <p>pada awal lajur</p>
                    <p><strong>L</strong></p>
                    <p>m</p>
                </td>
                <td width="53">
                    <p>pada garis henti</p>
                    <p><strong>L<sub>M</sub></strong></p>
                    <p>m</p>
                </td>
                <td width="51">
                    <p>pada lajur belok kiri</p>
                    <p><strong>L</strong><strong>BKiJT</strong></p>
                    <p>m</p>
                </td>
                <td width="52">
                    <p>pada lajur keluar</p>
                    <p><strong>L<sub>K</sub></strong></p>
                    <p>m</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>U</p>
                </td>
                <td width="59">
                    <p>KOM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>Y</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>T</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>11,5</p>
                </td>
                <td width="53">
                    <p>11,5</p>
                </td>
                <td width="51">
                </td>
                <td width="52">
                    <p>11,5</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>S</p>
                </td>
                <td width="59">
                    <p>KIM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>Y</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>T</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>11,0</p>
                </td>
                <td width="53">
                    <p>11,0</p>
                </td>
                <td width="51">
                </td>
                <td width="52">
                    <p>10,5</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>T</p>
                </td>
                <td width="59">
                    <p>KIM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>T</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>Y</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>8,5</p>
                </td>
                <td width="53">
                    <p>6,0</p>
                </td>
                <td width="51">
                    <p>2,5</p>
                </td>
                <td width="52">
                    <p>5,0</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>B</p>
                </td>
                <td width="59">
                    <p>KIM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>T</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>T</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>7,0</p>
                </td>
                <td width="53">
                    <p>7,0</p>
                </td>
                <td width="51">
                </td>
                <td width="52">
                    <p>5,0</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                </td>
                <td width="59">
                </td>
                <td width="57">
                </td>
                <td width="50">
                </td>
                <td width="59">
                </td>
                <td width="45">
                </td>
                <td width="57">
                </td>
                <td width="55">
                </td>
                <td width="53">
                </td>
                <td width="51">
                </td>
                <td width="52">
                </td>
            </tr>
        </tbody>
    </table> -->

    <table border="1">
        <tbody>
            <tr>
                <td colspan="11" width="595">
                    <p><strong>Kondisi Lapangan</strong></p>
                </td>
            </tr>
            <tr>
                <td rowspan="2" width="59">
                    <p><strong>Kode</strong> <strong>pendekat</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p>U, S, T, B</p>
                </td>
                <td rowspan="2" width="59">
                    <p><strong>Tipe</strong> <strong>lingkungan</strong> <strong>jalan</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p>KIM, KOM, AT</p>
                </td>
                <td rowspan="2" width="57">
                    <p><strong>Kelas</strong> <strong>Hambatan</strong> <strong>samping</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p>T (tinggi), R (rendah)</p>
                </td>
                <td rowspan="2" width="50">
                    <p><strong>Median</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p>Y (ada) atau</p>
                    <p>T (tidak)</p>
                </td>
                <td rowspan="2" width="59">
                    <p><strong>Kelandaian</strong> <strong>pendekat</strong></p>
                    <p>+ (nanjak) atau - (turun)</p>
                    <p><strong>&nbsp;</strong></p>
                    <p>%</p>
                </td>
                <td rowspan="2" width="45">
                    <p><strong>B</strong><strong>KiJT</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p>Y (ada) atau</p>
                    <p>T (tidak)</p>
                </td>
                <td rowspan="2" width="57">
                    <p><strong>Jarak ke kendaraan parkir pertama</strong></p>
                    <p>m</p>
                </td>
                <td colspan="4" width="211">
                    <p><strong>Lebar pendekat (m)</strong></p>
                </td>
            </tr>
            <tr>
                <td width="55">
                    <p>pada awal lajur</p>
                    <p><strong>L</strong></p>
                    <p>m</p>
                </td>
                <td width="53">
                    <p>pada garis henti</p>
                    <p><strong>L<sub>M</sub></strong></p>
                    <p>m</p>
                </td>
                <td width="51">
                    <p>pada lajur belok kiri</p>
                    <p><strong>L</strong><strong>BKiJT</strong></p>
                    <p>m</p>
                </td>
                <td width="52">
                    <p>pada lajur keluar</p>
                    <p><strong>L<sub>K</sub></strong></p>
                    <p>m</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>U</p>
                </td>
                <td width="59">
                    <p>KOM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>Y</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>T</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>11,5</p>
                </td>
                <td width="53">
                    <p>11,5</p>
                </td>
                <td width="51">
                    <p>&nbsp;</p>
                </td>
                <td width="52">
                    <p>11,5</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>S</p>
                </td>
                <td width="59">
                    <p>KIM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>Y</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>T</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>11,0</p>
                </td>
                <td width="53">
                    <p>11,0</p>
                </td>
                <td width="51">
                    <p>&nbsp;</p>
                </td>
                <td width="52">
                    <p>10,5</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>T</p>
                </td>
                <td width="59">
                    <p>KIM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>T</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>Y</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>8,5</p>
                </td>
                <td width="53">
                    <p>6,0</p>
                </td>
                <td width="51">
                    <p>2,5</p>
                </td>
                <td width="52">
                    <p>5,0</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>B</p>
                </td>
                <td width="59">
                    <p>KIM</p>
                </td>
                <td width="57">
                    <p>R</p>
                </td>
                <td width="50">
                    <p>T</p>
                </td>
                <td width="59">
                    <p>0</p>
                </td>
                <td width="45">
                    <p>T</p>
                </td>
                <td width="57">
                    <p>0</p>
                </td>
                <td width="55">
                    <p>7,0</p>
                </td>
                <td width="53">
                    <p>7,0</p>
                </td>
                <td width="51">
                    <p>&nbsp;</p>
                </td>
                <td width="52">
                    <p>5,0</p>
                </td>
            </tr>
            <tr>
                <td width="59">
                    <p>&nbsp;</p>
                </td>
                <td width="59">
                    <p>&nbsp;</p>
                </td>
                <td width="57">
                    <p>&nbsp;</p>
                </td>
                <td width="50">
                    <p>&nbsp;</p>
                </td>
                <td width="59">
                    <p>&nbsp;</p>
                </td>
                <td width="45">
                    <p>&nbsp;</p>
                </td>
                <td width="57">
                    <p>&nbsp;</p>
                </td>
                <td width="55">
                    <p>&nbsp;</p>
                </td>
                <td width="53">
                    <p>&nbsp;</p>
                </td>
                <td width="51">
                    <p>&nbsp;</p>
                </td>
                <td width="52">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>
